@{
    ViewBag.Title = "Webinar ACP Hybrid Cloud";
}

<div class="jumbotron">
    <center><h1>Webinar HybridCloud</h1></center>
    <img id="itforinnovators" src="~/Content/ITForInnovators.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hybrid Cloud</h2>
        <p>
            Eine agile Hybrid Cloud unterstützt die <br />
            Dynamik und Weiterentwicklung Ihres <br />
            Unternehmens.<br />
            Wir verbinden für Sie moderne hybride <br />
            Technologien aus Datacenter- und <br />
            Cloudkomponenten und <br />
            ermöglichen Ihnen maximale Agilität. <br />
            Damit Sie wechselnde Workloads flexibel <br />
            und effizient meistern.
        </p>
        <p><a class="btn btn-default" href="https://www.acp.at/portfolio/sgf/hybrid-cloud-datacenter/">Mehr erfahren&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modern Workplace</h2>
        <p>
            Wir gestalten für Ihre Mitarbeiter*innen <br />
            ein digitales Arbeitsumfeld und stellen <br />
            den Menschen in den Mittelpunkt. <br />
            Dabei erleichtern wir die Zusammenarbeit <br />
            und helfen Ihnen, Prozesse und Workflows <br />
            zu automatisieren.
        </p>
        <p><a class="btn btn-default" href="https://www.acp.at/portfolio/sgf/modern-workplace/">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Network & Security</h2>
        <p>
            Die Verfügbarkeit der Daten und <br />
            Anwendungen und die Leistungsfähigkeit <br />
            der IT-Verbindungen sind die Grundlage <br />
            erfolgreicher Unternehmen. <br />
            Mit einer performanten und sicheren <br />
            Infrastruktur im Hintergrund, machen <br />
            wir Ihr Business und ihre Mitarbeiter*innen <br />
            flexibler und schaffen die Voraussetzungen <br />
            für Ihren Erfolg.
        </p>
        <p><a class="btn btn-default" href="https://www.acp.at/portfolio/sgf/network-security/">Mehr erfahren &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h2>Digital Solutions</h2>
        <p>
            Die Digitalisierung ermöglicht es Ihnen <br />
            Ihre Zukunft durch technologiegestützte <br />
            Veränderung nachhaltig und erfolgreich <br />
            zu gestalten. <br />
            Sie sind Experte in Ihrem Markt - wir <br />
            sind es für die digitalen Möglichkeiten. <br />
            Mit den gebündelten Kompetenzen und <br />
            innovativen Technologien entstehen <br />
            bedeutsame Mehrwerte für Ihre <br />
            individuellen Ziele.
        </p>
        <p><a class="btn btn-default" href="https://www.acp.at/portfolio/sgf/digital-solutions/">Mehr erfahren &raquo;</a></p>
    </div>
</div>